.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
.Rproj.user/*
.Rproj.user/**
*.Rproj
.Rbuildignore
.Rcheck/
.httr-oauth
.DS_Store
.here
.sqlite*
docs
inst/doc
/doc/
/Meta/
/docker/MitoPilot*
.vscode
.positai
